<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Freshworks Connector</label>
    <label lang="en">Freshworks Connector</label>

    <version>1.0.2</version>
    <copyright>(c) by MorfDev</copyright>
    <license>MIT</license>
    <link>http://store.shopware.com</link>
    <author>MorfDev</author>
    <compatibility minVersion="5.2.27" maxVersion="5.99.99"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung;</changes>
        <changes lang="en">First release;</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">bugfix</changes>
        <changes lang="en">bugfix</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes lang="de">Contact info</changes>
        <changes lang="en">Contact info</changes>
    </changelog>
    <description lang="de">Freshworks Connector</description>
    <description lang="en">Freshworks Connector</description>
</plugin>
